@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0) scaleX(2);
  }
}

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__bounceInRight {
  animation-name: bounceInRight;
}

.animate__bounceInLeft {
  animation-name: bounceInLeft;
}

.animate__bounceOutRight {
  animation-name: bounceOutRight;
  animation-duration: 0.5s;
}

.animate__bounceOutLeft {
  animation-name: bounceOutLeft;
  animation-duration: 0.5s;
}

.login-paper {
  margin-top: 8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-title {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #1976d2;
}

.login-form {
  width: 100%;
  margin-top: 1rem;
}

.login-button {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
  padding: 0.75rem !important;
}

.login-divider {
  margin: 1.5rem 0 !important;
  width: 100%;
}

.register-link-button {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}